/* COLORS */
/* FONTS */
/* inter-200 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-200.eot?#iefix") format("embedded-opentype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-200.woff2") format("woff2"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-200.woff") format("woff"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-200.ttf") format("truetype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-200.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-300 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2") format("woff2"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-300.woff") format("woff"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf") format("truetype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-500 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-600 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2") format("woff2"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-600.woff") format("woff"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-600.ttf") format("truetype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-600.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-800 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-800.woff2") format("woff2"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-800.woff") format("woff"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-800.ttf") format("truetype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-800.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-900 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../fonts/secondary/inter-v7-latin-ext_latin_cyrillic-ext_cyrillic-900.svg#Inter") format("svg"); /* Legacy iOS */
}
body,
html {
  min-height: 100vh !important;
}

.main-content {
  min-height: 100vh;
}

button.loading {
  position: relative;
  pointer-events: none !important;
}
button.loading .btnLoader {
  position: absolute;
  border-radius: 0.75rem;
  left: 0;
  top: 0;
  width: 100%;
  background: #2e74ff;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button.loading .btnLoader lord-icon {
  width: 1.5rem;
  height: auto;
}

.btn.btn--primary {
  background: #2e74ff !important;
  color: #fff !important;
}
.btn.btn--secondary {
  background: #70708b !important;
  color: #fff !important;
}

#sidenav-main {
  background: #f0f5ff !important;
}

.err {
  margin-top: 0.5rem;
  text-align: left;
  color: rgb(209, 73, 73);
  font-size: 0.875rem !important;
}

.gallery-title {
  font-weight: bolder;
}

.sendBtn {
  transition: 0.3s;
  background: linear-gradient(94.44deg, #2e74ff 0.54%, rgba(46, 116, 255, 0.7) 102.32%);
  color: #fff;
  font-weight: 700;
}
.sendBtn:hover {
  transform: scale(1.02);
  background-color: #eeeeee;
}